@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Young Serif", serif;    
}

body {
    overflow-x: hidden;
}

.box {
    border-radius: 23px;
background: #141414;
box-shadow:  33px -33px 42px #080808,
             -33px 33px 42px #202020;
}